- var text = " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus delectus accusantium nulla eveniet aperiam, quo odit qui voluptas. Illo vel sed ex dolores illum eum architecto a libero atque. Voluptatibus.";
- var img = "http://small-talks.com/wp-content/uploads/2017/06/748550-beautiful-pine-forest-wallpaper.jpg";

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Главная страница
		link(rel="stylesheet" type="text/css" href="./public/css/lib/normalize.css")
		link(rel="stylesheet" type="text/css" href="./public/css/style.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700")
	body.page
		header.header
			div.header__container
				nav.nav
					ul.nav__list
						li.nav__item
							a.nav__link(href="#") Все статьи
						li.nav__item
							a.nav__link(href="#") Добавить
						li.nav__item
							a.nav__link(href="#") Редактировать
				div.auth
					ul.auth__list
						li.auth__item
							a.auth__link(href="#") Войти
						li.auth__item
							a.auth__link(href="#") Регистрация
			div.header__btn
				button.btn-nav(type="button")
					span.btn-nav__icon
					span.btn-nav__icon
					span.btn-nav__icon
		div.main
			div.main__container
				div.grid
					- for (var i = 0; i < 10; i++) {
						div.grid__item
							img.img(src=img)
							p.whine #{text}
					- }
		footer.footer
			div.footer__container
				p.footer__copyright Все права защищены
		script(type="text/javascript" src="./public/js/script.js")