.page {
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #fefefe;
}

.header {
	height: 3rem;
	width: 100%;
	background-color: rgba(0,0,0,0.8);

	&__container {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		max-width: 75rem;
		margin: 0 auto;
		padding: 0 0.5rem;
		justify-content: space-between;
		height: 100%;
	}

	&__btn {
		display: none;
	}
}

.main {

	&__container {
		box-sizing: border-box;
		max-width: 75rem;
		margin: 0 auto;
		padding: 0.5rem;
	}
}

.footer {
	height: 7rem;
	width: 100%;
	background-color: rgba(0,0,0,0.8);

	&__container {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		align-items: center;
		max-width: 75rem;
		margin: 0 auto;
		padding: 0 0.5rem;
		height: 100%;
	}

	&__copyright {
		margin: auto;
		color: rgb(255,255,255);
	}
}

.grid {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	&__item {
		box-sizing: border-box;
		max-width: 33.33333333%;
		flex-basis: 33.33333333%;
		padding: 0.5rem;
	}
}

.nav {
	height: 100%;

	&__list {
		display: flex;
		height: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__link {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 0.5rem;
		color: rgb(255,255,255);
		text-decoration: none;

		&:hover {
			color: grey;
			transition: .5s;
		}
	}
}

.auth {
	height: 100%;

	&__list {
		display: flex;
		height: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__link {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 0.5rem;
		color: rgb(255,255,255);
		text-decoration: none;

		&:hover {
			color: grey;
			transition: .5s;
		}
	}
}

.img {
	max-width: 100%;
}

.whine {
	margin: 0;
	padding: 0;
	color: black;
	background-color: none;
}

//***********************************************************************************
@media screen and (max-width: 1023px) {	
	.page {
		font-size: 90%;
	}
	
	.header {

		&__container {
			display: none;
			position: absolute;
			top: 3rem;
			flex-direction: column;
			height: auto;
			background-color: rgba(0,0,0,0.8);
			width: 100%;
			justify-content: center;

			&--open {
				display: flex;
			}
		}

		&__btn {
			display: flex;
			justify-content: flex-end;
			height: 100%;
			padding-right: 0.5rem;
		}
	}
	
	.grid {

		&__item {
			box-sizing: border-box;
			max-width: 50%;
			flex-basis: 50%;
		}
	}

	.nav {

		&__list {
			flex-direction: column;
		}

		&__link {
			display: block;
			text-align: center;
			padding: 0.5rem;
		}
	}

	.auth {

		&__list {
			flex-direction: column;
		}

		&__link {
			display: block;
			text-align: center;
			padding: 0.5rem;
		}
	}

	.btn-nav {
		display: block;
		height: 100%;
		border: 0;
		background: none;
		margin: 0;
		padding: 0.5rem;
		cursor: pointer;
		&:active,
		&:focus {
			outline: none;
		}

		&__icon {
			display: block;
			width: 20px;
			height: 2px;
			border-radius: 1px;
			background: white;
			margin-bottom: 4px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.page {
		font-size: 85%;
	}

	.grid {

		&__item {
			box-sizing: border-box;
			max-width: 100%;
			flex-basis: 100%;
		}
	}
}